<div class="card mb-3">
  <h2 class="card-header h4">
    Weight Daily Entry #<%= weight_daily_entry.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Weight tracker user</dt>
      <dd>
        <% if @weight_daily_entry.weight_tracker_user.present? %>
          <%= link_to weight_daily_entry.weight_tracker_user, weight_daily_entry.weight_tracker_user %>
        <% end %>
      </dd>

      <dt>Weight in lb</dt>
      <dd><%= weight_daily_entry.weight_in_lb %></dd>

      <dt>Recorded date</dt>
      <dd><%= weight_daily_entry.recorded_date %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back weight_daily_entry, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_weight_daily_entry_url(weight_daily_entry), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to weight_daily_entry, method: :delete, data: { confirm: "Do you really want to delete this weight_daily_entry?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(weight_daily_entry.updated_at) %> ago
  </div>
</div>
