<% was_validated = workout.errors.any? %>

<%= form_with(model: workout, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% workout_date_class = "form-control" %>
    <% workout_date_was_invalid = workout.errors.include?(:workout_date) %>

    <% if was_validated %>
      <% if workout_date_was_invalid %>
        <% workout_date_class << " is-invalid" %>
      <% else %>
        <% workout_date_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :workout_date %>
    <%= f.date_select :workout_date, class: workout_date_class, placeholder: "Enter workout date" %>
    <% if workout_date_was_invalid %>
      <% workout.errors.full_messages_for(:workout_date).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% weight_tracker_user_class = "form-control" %>
    <% weight_tracker_user_was_invalid = workout.errors.include?(:weight_tracker_user) %>

    <% if was_validated %>
      <% if weight_tracker_user_was_invalid %>
        <% weight_tracker_user_class << " is-invalid" %>
      <% else %>
        <% weight_tracker_user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :weight_tracker_user_id %>
    <%= f.collection_select :weight_tracker_user_id, WeightTrackerProfile.all, :id, :to_s, {}, class: "form-control" %>
    <% if weight_tracker_user_was_invalid %>
      <% workout.errors.full_messages_for(:weight_tracker_user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
