<%= form_with(model: @workout_comment, local: true) do |f| %>

  <%= f.hidden_field :workout_id, value: @workout.id %>

  <div class="form-group">
    <%= f.label :commenter_user_id %>

    <%= f.collection_select :commenter_user_id, UserLogin.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :comment_text %>
    <%= f.text_area :comment_text, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create workout comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
