<%= form_with(model: @exercise, local: true) do |f| %>

  <%= f.hidden_field :workout_id, value: @workout.id %>

  <div class="form-group">
    <%= f.label :excercise_id %>

    <%= f.text_field :excercise_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :number_of_rep %>

    <%= f.text_field :number_of_rep, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :calorie_burned %>

    <%= f.text_field :calorie_burned, class: "form-control" %>
  </div>

  <%= f.submit "Create exercise", class: "btn btn-block btn-outline-secondary" %>
<% end %>
