<div class="card mb-3">
  <h2 class="card-header h4">
    Weight Tracker Profile #<%= weight_tracker_profile.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Username</dt>
      <dd><%= weight_tracker_profile.username %></dd>

      <dt>Target daily calories</dt>
      <dd><%= weight_tracker_profile.target_daily_calories %></dd>

      <dt>Target weight in lb</dt>
      <dd><%= weight_tracker_profile.target_weight_in_lb %></dd>

      <dt>Profile pic</dt>
      <dd>
        <%= cl_image_tag @weight_tracker_profile.profile_pic, class: "img-fluid" %>
      </dd>

      <dt>Associated personal trainer</dt>
      <dd>
        <% if @weight_tracker_profile.dedicated_personal_trainer.present? %>
          <%= link_to weight_tracker_profile.dedicated_personal_trainer, weight_tracker_profile.dedicated_personal_trainer %>
        <% end %>
      </dd>

      <dt>Associated nutritionist</dt>
      <dd>
        <% if @weight_tracker_profile.nutritionist.present? %>
          <%= link_to weight_tracker_profile.nutritionist, weight_tracker_profile.nutritionist %>
        <% end %>
      </dd>

      <dt>Login</dt>
      <dd>
        <% if @weight_tracker_profile.login.present? %>
          <%= link_to weight_tracker_profile.login, weight_tracker_profile.login %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back weight_tracker_profile, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user_login == @weight_tracker_profile.login %>
          <%= link_to edit_weight_tracker_profile_url(weight_tracker_profile), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user_login == @weight_tracker_profile.login %>
          <%= link_to weight_tracker_profile, method: :delete, data: { confirm: "Do you really want to delete this weight_tracker_profile?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(weight_tracker_profile.updated_at) %> ago
  </div>
</div>
