<%= form_with(model: @workout, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :workout_date %>

    <%= f.date_select :workout_date, class: "form-control" %>
  </div>

  <%= f.hidden_field :weight_tracker_user_id, value: @weight_tracker_profile.id %>

  <%= f.submit "Create workout", class: "btn btn-block btn-outline-secondary" %>
<% end %>
