<%= form_with(model: @meal, local: true) do |f| %>

  <%= f.hidden_field :weight_tracker_user_id, value: @weight_tracker_profile.id %>

  <div class="form-group">
    <%= f.label :date_and_time_of_meal %>
    <%= f.datetime_select :date_and_time_of_meal, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :meal_type %>

    <%= f.select :meal_type, options_for_select(Meal.meal_types.keys), {}, class: "form-control" %>
  </div>

  <%= f.submit "Create meal", class: "btn btn-block btn-outline-secondary" %>
<% end %>
