<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @weight_tracker_profile, partial: "card", as: :weight_tracker_profile %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "weight_tracker_profiles/weight_tracker_profile_meals" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "weight_tracker_profiles/weight_tracker_profile_weight_daily_entries" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "weight_tracker_profiles/weight_tracker_profile_workouts" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "weight_tracker_profiles/weight_tracker_profile_exercises" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "weight_tracker_profiles/weight_tracker_profile_foods" %>
  </div>
</div>
