<div class="card mb-3">
  <h2 class="card-header h4">
    Meal Comment #<%= meal_comment.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Meal</dt>
      <dd>
        <% if @meal_comment.meal.present? %>
          <%= link_to meal_comment.meal, meal_comment.meal %>
        <% end %>
      </dd>

      <dt>Commenter user</dt>
      <dd>
        <% if @meal_comment.user.present? %>
          <%= link_to meal_comment.user, meal_comment.user %>
        <% end %>
      </dd>

      <dt>Comment text</dt>
      <dd><%= meal_comment.comment_text %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back meal_comment, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_meal_comment_url(meal_comment), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to meal_comment, method: :delete, data: { confirm: "Do you really want to delete this meal_comment?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(meal_comment.updated_at) %> ago
  </div>
</div>
