<%= search_form_for @q, :class => collapse_search_form, :id => "personal_trainer_profiles_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :rating, "Rating" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <%= f.text_field :rating_gteq, :class => "form-control", :placeholder => "Rating greater than or equal to" %>
      </div>
      <div class='col-md-6'>
        <%= f.text_field :rating_lteq, :class => "form-control", :placeholder => "Rating less than or equal to" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :created_at, "WeightTrackerProfile Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='weight_tracker_profilesgteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :weight_tracker_profiles_created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "WeightTrackerProfile Created at greater than or equal to", :data => {:target => '#weight_tracker_profilesgteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#weight_tracker_profilesgteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='weight_tracker_profileslteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :weight_tracker_profiles_created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "WeightTrackerProfile Created at less than or equal to", :data => {:target => '#weight_tracker_profileslteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#weight_tracker_profileslteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#weight_tracker_profilesgteqcreated_atPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#weight_tracker_profileslteqcreated_atPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#weight_tracker_profilesgteqcreated_atPicker').on("dp.change", function (e) {
              $('#weight_tracker_profileslteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#weight_tracker_profileslteqcreated_atPicker').on("dp.change", function (e) {
              $('#weight_tracker_profilesgteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>

  <div class="form-group">
    <%= f.label :created_at, "UserLogin Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='logingteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :login_created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "UserLogin Created at greater than or equal to", :data => {:target => '#logingteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#logingteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='loginlteqcreated_atPicker' data-target-input="nearest">
          <%= f.text_field :login_created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "UserLogin Created at less than or equal to", :data => {:target => '#loginlteqcreated_atPicker'} %>
          <div class="input-group-append" data-target='#loginlteqcreated_atPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#logingteqcreated_atPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#loginlteqcreated_atPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#logingteqcreated_atPicker').on("dp.change", function (e) {
              $('#loginlteqcreated_atPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#loginlteqcreated_atPicker').on("dp.change", function (e) {
              $('#logingteqcreated_atPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/personal_trainer_profiles" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#personal_trainer_profiles_filters">
  Show filters
</a>
