<%= form_with(model: @weight_tracker_profile, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :username %>

    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :target_daily_calories %>

    <%= f.text_field :target_daily_calories, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :target_weight_in_lb %>

    <%= f.text_field :target_weight_in_lb, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :profile_pic %>

    <%= f.file_field :profile_pic, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :associated_personal_trainer_id %>

    <%= f.collection_select :associated_personal_trainer_id, PersonalTrainerProfile.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :associated_nutritionist_id %>

    <%= f.collection_select :associated_nutritionist_id, NutritionistProfile.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :login_id, value: @user_login.id %>

  <%= f.submit "Create weight tracker profile", class: "btn btn-block btn-outline-secondary" %>
<% end %>
