<%= form_with(model: @workout_comment, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :workout_id %>

    <%= f.collection_select :workout_id, Workout.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :commenter_user_id, value: @user_login.id %>

  <div class="form-group">
    <%= f.label :comment_text %>
    <%= f.text_area :comment_text, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create workout comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
