<%= form_with(model: @personal_trainer_profile, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :rating %>

    <%= f.text_field :rating, class: "form-control" %>
  </div>

  <%= f.hidden_field :login_id, value: @user_login.id %>

  <%= f.submit "Create personal trainer profile", class: "btn btn-block btn-outline-secondary" %>
<% end %>
