<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @user_login, partial: "card", as: :user_login %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user_logins/user_login_weight_tracker_profiles" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user_logins/user_login_personal_trainer_profiles" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user_logins/user_login_nutritionist_profiles" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user_logins/user_login_workout_comments" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "user_logins/user_login_meal_comments" %>
  </div>
</div>
  <!-- Show Page Customization end -->
