<% was_validated = workout_comment.errors.any? %>

<%= form_with(model: workout_comment, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for workout_id start -->
  <div class="form-group">
    <% workout_class = "form-control" %>
    <% workout_was_invalid = workout_comment.errors.include?(:workout) %>

    <% if was_validated %>
      <% if workout_was_invalid %>
        <% workout_class << " is-invalid" %>
      <% else %>
        <% workout_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :workout_id %>
    <!-- Input for workout_id start -->
    <%= f.collection_select :workout_id, Workout.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for workout_id end -->
    <% if workout_was_invalid %>
      <% workout_comment.errors.full_messages_for(:workout).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for workout_id end -->
  <!-- Label and input for commenter_user_id start -->
  <div class="form-group">
    <% commenter_user_class = "form-control" %>
    <% commenter_user_was_invalid = workout_comment.errors.include?(:commenter_user) %>

    <% if was_validated %>
      <% if commenter_user_was_invalid %>
        <% commenter_user_class << " is-invalid" %>
      <% else %>
        <% commenter_user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :commenter_user_id %>
    <!-- Input for commenter_user_id start -->
    <%= f.number_field :commenter_user_id, class: commenter_user_class, placeholder: "Enter commenter user" %>
    <!-- Input for commenter_user_id end -->
    <% if commenter_user_was_invalid %>
      <% workout_comment.errors.full_messages_for(:commenter_user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for commenter_user_id end -->
  <!-- Label and input for comment_text start -->
  <div class="form-group">
    <% comment_text_class = "form-control" %>
    <% comment_text_was_invalid = workout_comment.errors.include?(:comment_text) %>

    <% if was_validated %>
      <% if comment_text_was_invalid %>
        <% comment_text_class << " is-invalid" %>
      <% else %>
        <% comment_text_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :comment_text %>
    <!-- Input for comment_text start -->
    <%= f.text_area :comment_text, class: comment_text_class, placeholder: "Enter comment text" %>
    <!-- Input for comment_text end -->
    <% if comment_text_was_invalid %>
      <% workout_comment.errors.full_messages_for(:comment_text).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for comment_text end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
