<div class="card mb-3">
  <h2 class="card-header h4">
    Meal #<%= meal.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Weight tracker user</dt>
      <dd>
        <% if @meal.calorie_tracker_user.present? %>
          <%= link_to meal.calorie_tracker_user, meal.calorie_tracker_user %>
        <% end %>
      </dd>

      <dt>Date and time of meal</dt>
      <dd><%= meal.date_and_time_of_meal %></dd>

      <dt>Meal type</dt>
      <dd><%= meal.meal_type %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back meal, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_meal_url(meal), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to meal, method: :delete, data: { confirm: "Do you really want to delete this meal?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(meal.updated_at) %> ago
  </div>
</div>
