<%= form_with(model: @food, local: true) do |f| %>

  <%= f.hidden_field :meal_id, value: @meal.id %>

  <div class="form-group">
    <%= f.label :food_name %>

    <%= f.text_field :food_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :number_of_gram_consumed %>

    <%= f.text_field :number_of_gram_consumed, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :calories_consumed %>

    <%= f.text_field :calories_consumed, class: "form-control" %>
  </div>

  <%= f.submit "Create food", class: "btn btn-block btn-outline-secondary" %>
<% end %>
