<div class="card mb-3">
  <h2 class="card-header h4">
    Food #<%= food.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Meal</dt>
      <dd>
        <% if @food.meal.present? %>
          <%= link_to food.meal, food.meal %>
        <% end %>
      </dd>

      <dt>Food name</dt>
      <dd><%= food.food_name %></dd>

      <dt>Number of gram consumed</dt>
      <dd><%= food.number_of_gram_consumed %></dd>

      <dt>Calories consumed</dt>
      <dd><%= food.calories_consumed %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back food, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_food_url(food), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to food, method: :delete, data: { confirm: "Do you really want to delete this food?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(food.updated_at) %> ago
  </div>
</div>
